.content{
	font-family: sans-serif;
    position: relative;
    width: 1366px;
    height: 700px;
    display: grid;
    grid-template-columns: 30% auto;
	background: #F9F9F9;
}


.pagination {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  margin-left: 25px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;

}
.pagination li {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	float: left;
}

.pagination li {
	padding: 2px 6px;
	width: 21px;
	height: 25px;
	left: 190px;
	top: 0px;
  color: black;
  
  text-decoration: none;
  

  
}
 
.pagination li a{
text-align: center;
color: #808080;
}

.pagination li:hover:not(.active) a{
	transition: color .5s;
	color: #0064EB;
}

.pagination li.active  a{
	
  background-color: #0064EB;
  color: white;
  border-radius: 3px;
}

.pagination li.previous, .pagination li.next {
  cursor: pointer;
  color: #808080;
}

.pagination li.previous.disabled, .pagination li.next.disabled{
  color: white;
}

.SearchForm {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.SearchIcon{

height: 64.16667938232422px;
width: 64.16752624511719px;
left: 22.916748046875px;
top: 22.916748046875px;
border-radius: 0px;


left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

color: #808080;

}

.not-found-icon{
	height: 165px;
width: 156px;
left: 605px;
top: 284px;
border-radius: 0px;
position: absolute;
}

.empty-repo-icon{
	height: 165px;
    width: 243px;
    position: absolute;
    top: 25%;
    left: 10%;

}

.loader{
	height: 165px;
    width: 243px;
    position: absolute;
    top: 25%;
    left: 10%;
}

.start-icon{
	height: 196px;
width: 210px;
left: 578px;
top: 269px;
border-radius: 0px;

position: absolute;
}

.user-image{
	height: 280px;
	width: 280px;
	left: 57px;
	top: 111px;
	border-radius: 50%;

}

.user-info{
	left: 5%;
    grid-column-start: 1;
    margin-top: 111px;
    position: absolute;
}

.user-name{

font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 34px;
letter-spacing: 0px;
text-align: left;

}

.user-login{
	height: 28.738739013671875px;
width: 80.5251235961914px;
left: 56.031982421875px;
top: 466px;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
text-decoration-line: blink;

}



.social{
	margin-top: 25px;
flex-direction: row;
display: flex;
}

.group{

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.person{
margin-left: 16px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;


}
.repo-list{
	position: relative;
    grid-column-start: 2;
    left: 96px;
    display: grid;
    grid-template-rows: auto auto;

}

.repo-list-title{
grid-row-start: 1; 
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 42px;
letter-spacing: 0px;
text-align: left;

}

.repo-name{
	height: 29px;
width: 191px;
left: 32px;
top: 24px;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
text-decoration-line: blink;

}

.repo-info{
	height: 112px;
width: 877px;
left: 433px;
top: 579px;
border-radius: 6px;
padding: 24px, 32px, 24px, 32px;

}

.repo-description{
	height: 19px;
width: 586px;
left: 32px;
top: 69px;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;

}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

